<main>
  <!-- <div class="d-flex align-items-center">
    <div class="flex-grow-1">
      <h1 class="page-title">Kartvizitler</h1>
      <p class="page-description">
        Bu ekrandan kartvizitlerinizi yönetebilirsiniz.
      </p>
    </div>
    <app-card-search></app-card-search>
    <button mat-flat-button color="primary" class="ms-3" (click)="openAddCardModal()">Yeni Kartvizit</button>
  </div> -->

  <div class="row">
    <div class="col-12 col-md-8">
      <h1 class="page-title">Kartvizitler</h1>
      <p class="page-description">
        Bu ekrandan kartvizitlerinizi yönetebilirsiniz.
      </p>
    </div>
    <div class="col-6 col-md-2 float-end">
      <app-card-search></app-card-search>
    </div>
    <div class="col-6 col-md-2 ">
      <button mat-fab color="primary" class="float-end" (click)="openAddCardModal()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-12" *ngIf="!cardService.cards">
      <span>Kartvizitler yükleniyor. Lütfen Bekleyiniz.</span>
    </div>
    <div class="col-12" *ngIf="cardService.cards?.length === 0">
      <span>Henüz kartvizit eklemediniz. <a class="text-primary" style="cursor: pointer;"
          (click)="openAddCardModal()">Buraya</a> tıklayarak kartvizit ekleyebilirsiniz.</span>
    </div>
    <div class="col-12 col-md-4 col-lg-3" *ngFor="let card of cardService.filteredCards">
      <app-card-item [card]="card"></app-card-item>
      <!-- <app-card-item [card]="cartItem"></app-card-item> -->

    </div>
  </div>
</main>