<h2 mat-dialog-title> {{ data ? 'Kartviziti Düzenle': 'Yeni Kartvizit'}}</h2>
<mat-dialog-content class="mat-typography">

  <form class="example-form" [formGroup]="cardForm">

    <div *ngIf="showSpinner">
      <mat-progress-bar mode="query"></mat-progress-bar>
      <br>
    </div>


    <mat-form-field class="example-full-width">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>İsim</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Telefon</mat-label>
      <input matInput formControlName="phone">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Adres</mat-label>
      <textarea matInput formControlName="address"></textarea>
    </mat-form-field>
  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">

  <div class="flex-grow-1 text-start" *ngIf="data">
    <button mat-raised-button mat-dialog-close color="warn" (click)="deleteCard()" [disabled]="showSpinner">Sil</button>
  </div>

  <div>
    <button mat-raised-button mat-dialog-close>Vazgeç</button>
    <button mat-raised-button color="primary" (click)="data ? updateCard() : addCard()" [disabled]="cardForm.invalid || showSpinner ">{{data ? 'Düzenle': 'Ekle'}}</button>
  </div>

</mat-dialog-actions>