<mat-card class="card-item">
    <mat-card-header (click)="openUpdateCardModal(card)">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{card.name}}</mat-card-title>
        <mat-card-subtitle>{{card.title}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngIf="card.phone">{{card.phone}}</li>

            <!-- İf-Else 1.kullanım örneği -->
            <li class="list-group-item" *ngIf="card.email; else noEmail">{{card.email}}</li>
            <ng-template #noEmail>
                <span class="text-warning no-content">E-Posta girilmemiştir.</span>
            </ng-template>

            <!-- if-else 2.kullanım örneği -->
            <li class="list-group-item">
                <span *ngIf="card.address;"> {{card.address}} </span>
                <small *ngIf="!card.address;" class="text-warning">Adres girilmemiştir.</small>
            </li>

        </ul>
    </mat-card-content>
</mat-card>